name: Auto Assign to Project(s)
on:
  issues:
    types: [opened, reopened]

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:
      - name: Assign to Backlog
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: 'https://github.com/pvlchkhrv/projects/4'
          github-token: ${{ secrets.PROJECT_TOKEN }}
